# Arquivos de ambiente
.env
*.env

# Banco de dados SQLite
app/usuarios.db
*.db
*.sqlite3

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
flask-venv/
env/
ENV/

# Logs
*.log'
*.rtf'

# IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db
